.nav .nav__logo {
    margin-left: -45px;
}

.nav {
    background: rgba(0, 0, 0, 0.1)!important;
}

.nav__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.nav__switchmode {
    grid-row: 1;
    grid-column: 1/-1;
    text-align: center;
}

.nav .gamestart__housebtn {
    margin: 0px!important;
}

.gamestart__housebtn:last-of-type {
    grid-column: 3/4;
}

@media screen and (max-width: 1200px) {
    .nav {
        padding-left: 4rem!important;
        padding-right: 4rem!important;
    }
    .nav__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr!important;
        gap: 10px;
    }

    .gamestart__housebtn:first-of-type {
        grid-column: 1 / -1;
    }
    .gamestart__housebtn:last-of-type {
        grid-column: 2 / -1;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }

    .nav .nav__logo {
        margin-left: 0;
    }

    .nav__logo span {
        font-size: 0.8rem;
    }

    .nav__buttons {
        width: 175px;
        display: grid!important;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        
    }

    .nav__buttons button {
        font-size: 12px;
    }

    .nav__buttons button:first-of-type {
        gap: 0;
        grid-column: 1/-1;
    }
}

@media screen and (max-width: 480px) {
    .nav {
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }

    .nav .nav__logo {
        margin-left: 0;
    }

    .nav__logo img {
        height: 25px;
    }

    .nav__logo h1 {
        font-size: 8px;
    }

    .nav__logo span {
        font-size: 10px!important;
    }

    .nav__buttons {
        width: 160px;
        display: grid!important;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    .nav__buttons >span  , .nav__score span {
        font-size: 12px!important;
    }

    .nav__buttons button {
        font-size: 10px;
    }
    
    .nav__buttons button:first-of-type {
        gap: 0;
        grid-column: 1/-1;
    }
    
    .nav__score p{
        font-size: 10px;
    }

    .footer span {
        font-size: 12px;
    }
}