.gameover {
    height: 90vh;
    width: 100vw;
    overflow: hidden;
}

.gameover__logocontainer {
    scale: 1.4;
}

@media screen and (max-width: 480px) {
    .gameover__logocontainer {
        transform: scale(0.5)!important;
    }
    
    .gameover__restartbtn {
        font-size: 16px!important;
    }
}